# Enade - Transformação de Dados

In [2]:
#Importar as bibliotecas necessárias
import pandas as pd #biblioteca de dataframe do pandas
import numpy as np #biblioteca de implementação cientifica , calculos, estatisticas, etc ...
import os #biblioteca do sistema, trabalhar com caminhos path

In [3]:
enade = pd.read_csv(
    "./enade2019/3.DADOS/microdados_enade_2019.txt",
    sep = ';', decimal = ',', na_values={"NA", " "}
)

In [6]:
enade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2,5,1,1,2,5,8,7,1,2
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1,4,2,2,2,5,4,4,2,2
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3,4,4,3,3,4,1,1,1,4
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3,5,2,2,2,3,3,4,3,3
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Verificando o schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('float64'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('float64'),
 'NT_FG': dtype('float64'),
 'NT_OBJ_FG': dtype('float64'),
 'NT_DIS_FG': dtype('float64'),
 'NT_FG_D1': dtype('float64'),
 'NT_FG_D1_PT': dtype('float64'),
 'NT_FG_D1_CT': dtype('float64'),
 'NT_FG_D2': dtype('float64'),
 'NT_FG_D2_PT': dtype('float64'),
 'NT_FG_D2_CT': dtype('float64'),
 'NT_CE': dtype('float64'),
 'NT_OBJ_CE': dtype('float64'),
 'NT_DIS_CE': dtype('float64'),
 'NT_CE_D1': dtype('float64'),
 'NT_CE_D2': dtype('float64'),
 'NT_CE_D3': dtype('float64'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('float64'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64'),
 'DESC_COR': dtype('O')}

- CO_IES
- CO_CATEGAD
- CO_GRUPO
- CO_MODALIDADE
- CO_UF_CURSO
- CO_REGIAO_CURSO
- NU_IDADE
- TP_SEXO
- NT_GER
- NT_FG
- NT_CE

# Mais alguns itens do questionário do estudante:
    - 01: Estado Civil
    - 02: Cor ou raça
    - 04: Escolaridade do pai
    - 05: Escolaridade da mãe
    - 08: Renda Familiar
    - 10: Situação de trabalho
    - 11: Situação de bolsa
    - 14: Intercâmbio
    - 15: Cotas
    - 23: Horas de Estudo / semana
    - 25: Motivo de escolha do curso
    - 26: Motivo de escolha da IES

In [21]:
# NT_GER
enade.NT_GER.describe()

count    390135.000000
mean         44.080390
std          14.545807
min           0.000000
25%          33.200000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [23]:
# Contar o número de nulos
enade.NT_GER.isnull().sum()

43795

In [24]:
enade.shape

(433930, 138)

In [25]:
# Quantidade relativa de nulos
enade.NT_GER.isnull().sum() / enade.shape[0]

0.10092641670315489

In [26]:
# Acessando estatísticas descritivas da NOTA GERAL
# Apenas para alunos da região centro-oeste (5)
#loc retorna alguns filtros na linha do dataset, definindo uma condição
# 2 = NORDESTE
enade.loc[
    enade.CO_REGIAO_CURSO == 5
].NT_GER.describe()

count    30769.000000
mean        44.604609
std         14.489081
min          0.000000
25%         33.900000
50%         44.500000
75%         55.300000
max         91.600000
Name: NT_GER, dtype: float64

In [27]:
# Calculando estatísticas descritivas apenas para alunos com NOTA > do que zero
enade.loc[
    enade.NT_GER > 0
].NT_GER.describe()

count    389774.000000
mean         44.121216
std          14.490519
min           0.300000
25%          33.300000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [28]:
# Filtrando apenas alunos entre 20 e 50 anos
enade.loc[
    (enade.NU_IDADE >=20) & 
    (enade.NU_IDADE <=50)
].shape

(429019, 138)

In [29]:
# Filtrando apenas alunos entre 20 e 50 anos
enade.loc[
    (enade.NU_IDADE >=20) & 
    (enade.NU_IDADE <=50)
].NT_GER.describe()

count    385957.000000
mean         44.153317
std          14.531880
min           0.000000
25%          33.300000
50%          43.900000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [30]:
# Tabela cruzada
# Contar quantos homens e mulheres
enade.TP_SEXO.value_counts()

F    233279
M    200651
Name: TP_SEXO, dtype: int64

In [31]:
# Tabela cruzada
# Contar quantos homens e mulheres
# Números relativos
enade.TP_SEXO.value_counts() / enade.shape[0]

F    0.537596
M    0.462404
Name: TP_SEXO, dtype: float64

In [32]:
# Quero comparar as regiões - vamos agregar utilizando uma média
enade[['NT_GER', 'NT_FG', 'NT_CE']].describe()

              NT_GER          NT_FG          NT_CE
count  390135.000000  390135.000000  390135.000000
mean       44.080390      39.838931      45.477586
std        14.545807      16.241311      16.646806
min         0.000000       0.000000       0.000000
25%        33.200000      28.500000      32.900000
50%        43.800000      39.300000      45.200000
75%        54.800000      51.300000      57.800000
max        93.000000      97.800000     100.000000

In [33]:
# Comparar as notas por regiões do Brasil
# dicionário chave valor ({})
enade.groupby('CO_REGIAO_CURSO').agg({
    "NT_GER": "mean", #mean de média
    "NT_FG" : "mean",
    "NT_CE" : "mean"
})

                    NT_GER      NT_FG      NT_CE
CO_REGIAO_CURSO
1                40.282753  37.119037  41.320522
2                43.788555  40.057649  45.015455
3                44.016319  40.144793  45.290297
4                45.767208  40.087748  47.643763
5                44.604609  39.180022  46.396032

# Transformações

- CO_IES
- CO_CATEGAD
- CO_GRUPO
- CO_MODALIDADE
- CO_UF_CURSO
- CO_REGIAO_CURSO
- NU_IDADE
- TP_SEXO
- NT_GER
- NT_FG
- NT_CE

In [34]:
enade['DESC_PUBLICA'] = ""
enade.loc[
    enade.CO_CATEGAD.isin([118, 120, 121, 10005, 10006, 10007, 10008, 10009, 17634]),
    "DESC_PUBLICA"
] = "Privado"

In [35]:
enade.loc[
    enade.CO_CATEGAD.isin([93, 115, 116, 10001, 10002, 10003]),
    "DESC_PUBLICA"
] = "Pública"

In [36]:
enade.DESC_PUBLICA.value_counts()

Privado    332879
Pública    100971
               80
Name: DESC_PUBLICA, dtype: int64

In [37]:
enade.DESC_PUBLICA.value_counts() / enade.shape[0]

Privado    0.767126
Pública    0.232690
           0.000184
Name: DESC_PUBLICA, dtype: float64

In [38]:
# Transformar a modalidade
enade.CO_MODALIDADE.value_counts()

1    410542
0     23388
Name: CO_MODALIDADE, dtype: int64

In [39]:
# Transformar a modalidade por categoria
enade["CO_MODALIDADE"] = enade.CO_MODALIDADE.replace({
    0 : 'EaD',
    1 : 'Presencial'
})

In [40]:
enade.CO_MODALIDADE.value_counts()

Presencial    410542
EaD            23388
Name: CO_MODALIDADE, dtype: int64

In [41]:
# Transforma região 
enade["CO_REGIAO_CURSO"] = enade.CO_REGIAO_CURSO.replace({
    1: "Norte",
    2: "Nordeste",
    3: "Suldeste",
    4: "Sul",
    5: "Centro-Oeste"
})

In [42]:
enade.CO_REGIAO_CURSO.value_counts()

Suldeste        202505
Nordeste         91742
Sul              76788
Centro-Oeste     34192
Norte            28703
Name: CO_REGIAO_CURSO, dtype: int64

In [43]:
# Transformando Cor Raça
enade["DESC_COR"] = enade.QE_I02.replace({
    "A" : "Branca",
    "B" : "Preta",
    "C" : "Amarela",
    "D" : "Parda",
    "E" : "Indigena",
    "F" : pd.NA
})

In [44]:
enade

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68,DESC_COR,DESC_PUBLICA
0,2019,1,10002,10028,5710,3,Presencial,5103403,51,Centro-Oeste,...,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0,Amarela,Pública
1,2019,1,10002,10028,5710,3,Presencial,5103403,51,Centro-Oeste,...,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0,Branca,Pública
2,2019,1,10002,10028,5710,3,Presencial,5103403,51,Centro-Oeste,...,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0,Branca,Pública
3,2019,1,10002,10028,5710,3,Presencial,5103403,51,Centro-Oeste,...,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0,Parda,Pública
4,2019,1,10002,10028,5710,3,Presencial,5103403,51,Centro-Oeste,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pública
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433925,2019,430,10008,10020,55,83604,Presencial,4113700,41,Sul,...,5.0,5.0,5.0,6.0,6.0,5.0,2.0,6.0,Branca,Privado
433926,2019,430,10008,10020,55,83604,Presencial,4113700,41,Sul,...,6.0,6.0,6.0,6.0,6.0,5.0,4.0,5.0,Branca,Privado
433927,2019,430,10008,10020,55,83604,Presencial,4113700,41,Sul,...,6.0,5.0,5.0,6.0,6.0,6.0,6.0,6.0,Parda,Privado
433928,2019,430,10008,10020,55,83604,Presencial,4113700,41,Sul,...,5.0,6.0,6.0,6.0,5.0,5.0,8.0,6.0,Branca,Privado
433929,2019,430,10008,10020,55,83604,Presencial,4113700,41,Sul,...,4.0,4.0,3.0,4.0,5.0,5.0,3.0,6.0,Branca,Privado

In [45]:
enade.QE_I02.value_counts()

A    220386
D    135770
B     32869
C     10093
F      7456
E      1300
Name: QE_I02, dtype: int64

In [46]:
dict(enade.QE_I02.value_counts())

{'A': 220386, 'D': 135770, 'B': 32869, 'C': 10093, 'F': 7456, 'E': 1300}

In [47]:
dict(enade.DESC_COR.value_counts())

{'Branca': 220386,
 'Parda': 135770,
 'Preta': 32869,
 'Amarela': 10093,
 'Indigena': 1300}

# Algumas perguntas para responder!

##### 1.) Qual é a nota geral média dos alunos da região Nordeste?

In [49]:
enade.loc[
    enade.CO_REGIAO_CURSO == "Nordeste",
    "NT_GER"
].mean()

43.78855492862654

##### 2.) Qual é a média da nota do componente específico dos alunos do Rio Grande do SUL de cursos de Engenheria Elétrica?

In [53]:
enade.loc[
    (enade.CO_UF_CURSO == 43) &
    (enade.CO_GRUPO == 5806),
    "NT_CE"
].mean()

34.79692671394799

##### 3.) Qual é a média da nota do componente de formação geral de alunas do sexo feminino, pardas de Minas Gerais em cursos presencias de Engenharia de Produção

In [61]:
enade.loc[
    (enade.TP_SEXO == "F") &
    (enade.DESC_COR == "Parda") &
    (enade.CO_UF_CURSO == 31) &
    (enade.CO_MODALIDADE == "Presencial") &
    (enade.CO_GRUPO == 6208),
    "NT_FG"
].mean()

40.19142394822006